.loactionList-content-wrap{
    width: 1200px;
    overflow: hidden;
    padding-bottom: 70px;
}
.locationList-contents-wrap{
    overflow: hidden;
}
.loactionList-content-header{
    height: 70px;
    overflow: hidden;
}
.loactionList-search{
    width: 200px;
    height: 30px;
    margin-top: 18px;
    margin-left: 30px;
}
.loactionList-content-header>div{
    float: left;
    width: 400px;
}
.loactionList-content-header>div:first-child{
    overflow: hidden;
}
.loactionList-content-header>div>input{
    float: left;
}
.loactionList-content-header>div>img{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 15px;
}
.loactionList-content-header>div>p{
    text-align: center;
    font-size: 30px;
    line-height: 70px;
}
.loactionList-content{
    width: 550px;
    height: 250px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    overflow: hidden;
    float: left;
}
.locationList-footer-wrap{
    width: 550px;
    overflow: hidden;
}
.locationList-Info-btn{
    width: 200px;
    height: 50px;
    margin-right: 20px;
    float: left;
    background-color: rgba(37, 42, 52, 1);
    cursor: pointer;
    color: #fff;
    border: 2px solid rgba(57, 62, 70, 1);
    outline: none;
    font-size: 16px;
}
.loactionList-main-img{
    width: 200px;
    height: 200px;
    float: left;
}
.loactionList-pic{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.loactionList-text-wrap{
    width: 330px;
    margin-left: 20px;
    float: left;
}
.locationList-location-name{
    width: 330px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.loactionList-info{
    width: 330px;
    height: 148px;
    overflow: scroll;
    overflow-x: hidden;
}
.loactionList-info::-webkit-scrollbar {
    width: 5px;
    
}
.loactionList-info::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;

}
.loactionList-info::-webkit-scrollbar-track {
    background-color: grey;
}
.loactionList-sub-img>img{
    width: 50px;
    height: 50px;
}
.locationList-btn-wrap{
    width: 500px;
    margin: 0 auto;
    height: 50px;
    margin-top: 100px;
}
.locationList-btn-wrap>button{
    width: 500px;
    height: 50px;
    background-color: rgba(37, 42, 52, 1);
    cursor: pointer;
    color: #fff;
    border: 2px solid rgba(57, 62, 70, 1);
    outline: none;
    font-size: 16px;
}
